:root {
    --dark:#000000;
    --primary-yellow:#FCC007;
    --light:#F4F0E1;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--light);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;

}

button {
    max-width: 226px;
    height: 32px;
    margin-top: 5%;
    border-radius: 100px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
    background: var(--primary-yellow);
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--primary-yellow);
}

h1 {
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 112.281% */
    letter-spacing: -0.25px;
}

h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

nav img.logo {
    margin-right: 20px; 
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter", sans-serif;
    background: var(--dark);
    height: 100px;

}
ul {
    list-style: none;
}

.nav-menu{
    display: flex;
    align-items: center;

}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }  

.nav-list li {
    letter-spacing: 3px;
    margin-right: 120px;

}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }

    nav {
        height: 13vh;
    }
    .nav-list {
      position: absolute; 
      top: 13vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000000;
      opacity: 0.8;
      flex-direction: column;
      align-items:center;
      justify-content: space-between;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 2;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;

    }
    .mobile-menu {
      display: block;

    }

  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(0px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

.search-box {
    background-color: #000000;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4;
}

.search-box:hover > .search-txt {
    width: 120px;
    padding: 0 8px;
}

.search-box:hover > .search-btn {
    background: white;

}


.principal {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;    

}

.intro {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.intro p {
    margin-top: 8px;
    line-height: 30px
}

.intro button:hover{

    font-weight: 600;
}
/* Fix */
.principal img {
    min-height: 100%;

}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    padding: 4%;
}

.about-us {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.about-us p {
    line-height: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.about-us p:nth-child(2) {
    font-size: 22px;
}

.ajudar {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

.ajudar-call {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.ajudar-img {
    position: relative;
  }
  
  .bg-image {
    position: absolute;
    top: 8vh;
    right: 0;
    z-index: 0; /* Coloca a imagem atrás da imagem frontal */
  }
  
  .front-image {
    position: relative; /* Pode ser static ou relative */
    z-index: 1; /* Coloca a imagem à frente da imagem de fundo */
  }

.whatsapp-btn  {
    max-width: 226px;
    height: 32px;
    margin-top: 5%;
    border-radius: 100px;
    border: none;
    background: #25D366;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
    align-items: center;
}

.whatsapp-btn:hover {
    color: #fff;
}

.whatsapp-icon {
    background-color: #25D366;
    color: #25D366;
    max-height: 30px;
}

.ajudar-call p {
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
}

/* Footer */
footer{
    background-color: var(--dark);
    color: white;
    height: 100px;
    display: grid;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social-list {
    display: flex;
    align-items: center;
}

/* Responsivo celular */
@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        width: 30%;
        padding-left: 30%;
        padding-top: 4%;
        max-height: 87vh;
    }
    img {
        max-width: 100%;
    }
    .hero, .principal, .about {
        flex-direction: column;
    }
    .about-us{
        padding: 8%;
    }
    .about-container {
        flex-direction: column-reverse;
    }
    .ajudar{
        flex-direction: column;
    }
    .ajudar-call {
        padding: 4%;
    }
    .ajudar-call h2 {
        padding-bottom: 4%;
    }
    .ajudar-img {
        max-width: 90%;
    }
    footer {
        display: flex;
        height: 150px;
        font-size: 12px;
    }
    .footer-social p {
        display: none;
    }
    .footer-social img {
        max-width: 100%;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
        min-width: 100%;
    }
    .footer-contact,
    .footer-social-list {
        text-align: center;
    }
}


/* Pagina de produtos */
.galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Layout flexível */
    gap: 20px; 
    justify-content: center; /* Centraliza a galeria na página */
    max-width: 1000px; /* Define uma largura máxima para a galeria */
    margin: 0 auto; /* Centraliza a galeria horizontalmente */
}
.produtos-row button{
    background: none;
    border: solid 1px;
    color: white;
    padding: 4%;
    display: flex;
    align-items: center;
}
.title h3 {
    color: white;
}

.produto-image {
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}
.produto-image img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 4px;

}
.produto-image:hover img {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}
.produto-image .title {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.produto-image .title h3 {
    font-size: 32px;
    font-weight: 600;
    margin: 100px 0 0 10px;
}

.produto-image .title button{
    font-weight: 700;
    margin: 10px 30px 0 10px;
}

.produtos {
    background: white;
}

.top-title {
    margin-left: 10vw;
    padding: 8vh 0 8vh 0;
}

/* Pagina Cadastro */
.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}
placeholder {
    font-family: 'Inter', sans-serif;
    margin-left: 10px;
}
form {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputs {
    font-family: 'Inter', sans-serif;
    color: var(--m-3-sys-light-on-surface-variant, #49454F);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.5px;
}
input, textarea {
    padding-left: 8px;
}
#form-contact a {
    text-decoration: none; !important
    transition: none;
}